{% extends 'base_layout.html' %}
{% block content%}

<body>
	<section class="section-body">
		<div class="container page-body">
			<div class="row">
				<div class="col-lg-8 col-md-12 page-body-article">
					<div class="article-group">
					
						{% for article in articles %}
						<div class="article-group-1__item">
							<div class="row">
								<div class="col-lg-12 article-wrapper">
									<div class="article-img height-28em">
										<a href="/articles/{{article.slug }}"><img src="media/{{ article.thumb}}"> </a> 
										</div>
									<div class="article-time">
										<p><i class="fas fa-layer-group"></i> {{ article.category}}</p>
										<p><i class="fas fa-calendar-alt"></i> {{article.date}}</p>
									</div>
									<div class="article-content">
										<h2><a href="/articles/{{article.slug }}">{{article.title}}</a></h2>
										<p>{{ article.snippet}}</p>
									</div>
								</div>
							</div>
						</div>
						<br>
						<br>
						{% endfor %}
					</div>
					{% if articles.has_other_pages %}
						<nav aria-label="Page navigation conatiner">
							<ul class="pagination justify-content-center">
							{% if articles.has_previous %}
								<li><a href="?page={{ articles.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
								{% endif %}
								{% if articles.has_next %}
								<li><a href="?page={{ articles.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
							{% endif %}
							</ul>
						</nav>
					{% endif %}
				</div>
				<div class="col-lg-4 col-md-5 page-body-util">
					<div class="sidebar">
						<div class="widget about-author">
							<div class="widget-header">
								<h2 class="widget-title">About me</h2>
							</div>
							<div class="widget-profile-img">
								<img src="https://i.pinimg.com/564x/e4/d9/2a/e4d92a85bf528f2517b01c4618f90129.jpg">
							</div>
							<div class="widget-profile-info">
								<p class="designation">Tech enthusiast</p>
								<p class="description">
									Based in Germany
								</p>
								<div class="social-info">
									<ul class="social-list">
										<li>
											<a href="#"><i class="fab fa-facebook-f"></i></a>
										</li>
										<li>
											<a href="#"><i class="fab fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fab fa-linkedin"></i></a>
										</li>
									</ul>
									<a href="#" class="email"><i class="far fa-envelope-open"></i> Drop me an email</a>
								</div>
							</div>
						</div>
						<div class="widget popular-post">
							<div class="widget-header">
								<h2 class="widget-title">Popular posts</h2>
							</div>
							<div class="widget-posts">
								<!-- {% load hitcount_tags %} -->
								{% for article in top_articles %}
								<!-- {% get_hit_count for article %} -->
								
								<div class="widget-post media">
									<div class="post-thumbnail">
										<a href="/articles/{{article.slug }}">
											<img src="media/{{ article.thumb}}">
										</a>
									</div>
									<div class="media-body align-self-center">
										<h4 class="entry-title">
											<a href="/articles/{{article.slug }}"> {{ article.title}}</a>
										</h4>
										<span class="publish-date">{{ article.date}}</span>
									</div>
								</div>
								{% endfor %}
								
							</div>
						</div>
						<div class="widget categories-wrapper">
							<div class="widget-header">
								<h2 class="widget-title">Categories</h2>
							</div>
							<ul class="category-list">
								{% for cat in categories %}
								<li class="cat-item cat-item-2">
									<a href="/categories/{{cat.slug}}">{{ cat.title }}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="widget tag-cloud-wrapper">
							<div class="widget-header">
								<h2 class="widget-title">Tags</h2>
							</div>
							<div class="tagcloud">
								{% for tag in tags%}
								<a href="articles/tag/{{ tag }}" class="tag-cloud-link">{{ tag }}</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</div>


{% endblock%}