<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/129e7cf8b7.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<section class="section-header">
		<header class="page-header">
			<div class="header-logo">
				<h3 class="header-logo-text">NVTA</h3>
			</div>
			<div class="header-navbar">
				<nav class="navbar">
					<a class="navbar-item padding_05em-color_white" href="#">About</a>
					<a class="navbar-item padding_05em-color_white" href="#">Categories</a>
					<a class="navbar-item padding_05em-color_white" href="#">Buy me a coffee</a>
				</nav>
			</div>
		</header>
	</section>
	<div class="homepage-cover-img"></div>
	<section class="section-body container-fluid">
		<div class="row">
			<div class="col-md-3 body-searchbar">
				<div class="body-searchbar-content">
					<i class="fas fa-search marginleft-5"></i><input class="searchbar marginleft-5" type="text" placeholder="Search...">
				</div>
			</div>
			<div class="col-md-9 body-content">
				<div class="content-filter">
					<select class="form-control">
						<option>Recently listed</option>
						<option>Popular</option>
					</select>
				</div>
				<div class="row item-list">
					
				</div>
			</div>
		</div>
	</section>
	<section class="section-footer">
		<footer class="page-footer">
			<div class="footer-text">
				<a href="#"><i class="fab fa-github"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="far fa-envelope"></i></a>
			</div>
		</footer>
	</section>
	<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
	<script type="text/javascript">
		let entryItemList = [
			"https://i.pinimg.com/564x/cd/2b/05/cd2b0563f49d6831c3a3dee7b58af9d5.jpg",
			"https://i.pinimg.com/564x/4d/d7/19/4dd719b72e1699e6b62ed4b0a5a9f38d.jpg",
			"https://i.pinimg.com/564x/b5/e6/b5/b5e6b58a64639fa61e204fd6c4c388ba.jpg",
			"https://i.pinimg.com/564x/be/7b/ea/be7bea9d7047b856d788543e8eff1b66.jpg",
			"https://i.pinimg.com/564x/66/37/00/6637009703c6f03023f4382580e3009b.jpg"
		];
		for (var i = 0; i < 5; i++) {
			let entryItem = "<div class='col-md-6'>"+
								"<div class='entry-item'>" +
									"<div class='entry-picture'>"+
										"<img class='entry-picture-img' src='"+entryItemList[i]+"'>"+
									"</div>"+
									"<div class='entry-content'>"+
										"<a href='entry.html'><h2>Title</h2></a>"+
										"<p>Timestamp</p>"+
										"<p>Summary</p>"+
									"</div>"+
								"</div>"+
							"</div>";
			$('.item-list').append(entryItem);
		}
	</script>
</body>
</html>